@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yusei Magic";
  background-color: rgb(255, 252, 241);
}

body {
  background-size: 32px 32px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px);
}

header {
  display: flex;
  justify-self: center;
  padding: 0.4rem 1rem;
  width: 100%;
  min-width: 300px;
  max-width: 1024px;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  .banana {
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
  }
  nav {
    background-color: rgba(255, 255, 255, 0);
  }
}

button {
  padding: 2px 16px;
  border: none;
  border-bottom: 1px solid grey;
  color: rgb(71, 71, 71);
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;;
  &:hover {
    border-radius: 16px;
    background: rgb(255, 238, 0);
    color: rgb(139, 38, 13);
  }
}

#content {
  max-width: 1024px /* 60ch */;
  padding: 0 2rem;
  display: grid;
  place-items: center;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0);
}

.hero {
  margin-top: 4rem;
  max-width: 60ch;
  justify-self: center;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(99, 99, 99);
  &::selection {
    background: rgb(233, 6, 157);
    color: rgb(255, 255, 255);
  }
}

.menu-grid,
.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 1rem;
}
h2 {
  margin-top: 1rem;
  color: rgb(235, 114, 0);
}

.ice-cream-card,
.contact-card {
  display: grid;
  background-color: transparent;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  img {
    width: 100%;
    border-radius: 10px;
  }
  h3 {
    
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  p {
    font-size: 1rem;
    color: #555;
  }
}

.ice-cream-card ul {
  list-style: none;
  padding: 0;
  margin-top: auto;
  li {
    background: rgb(230, 255, 119);
    padding: 5px;
    margin: 3px 0;
    border-radius: 5px;
    color: rgb(0, 109, 73);
  }
}
