@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yusei Magic";
  background-color: rgb(255, 252, 241);
}

body {
  background-size: 32px 32px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px);
}

header {
  display: flex;
  justify-self: center;
  padding: 0.4rem 1rem;
  width: 100%;
  min-width: 300px;
  max-width: 1024px;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  .banana {
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
  }
  nav {
    background-color: rgba(255, 255, 255, 0);
  }
}

button {
  padding: 2px 16px;
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  color: rgb(105, 105, 105);
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
  cursor: pointer;
  &:hover {
    border-radius: 16px;
    background: rgb(255, 238, 0);
  }
}

.active {
  color: rgb(255, 121, 59);
  border-bottom: 1px solid rgb(255, 145, 222);
  border-radius: 16px;
  background: rgb(255, 238, 0);
}

#content {
  max-width: 1024px;
  padding: 0 2rem;
  display: grid;
  place-items: center;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0);
}

.logo {
  color: rgb(210, 97, 255);
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.hero {
  margin-top: 1rem;
  max-width: 60ch;
  justify-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(99, 99, 99);
  padding: 0 1rem;
  &::selection {
    background: rgb(233, 6, 157);
    color: rgb(255, 255, 255);
  }
}

.menu-grid,
.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
}
h2 {
  margin-top: 1rem;
  color: rgb(255, 126, 126);
}

.ice-cream-card,
.contact-card,
.hours-card {
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  img {
    width: 100%;
    border-radius: 10px;
  }
  h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: rgb(0, 121, 129);
    background-color: transparent;
    letter-spacing: 0.05rem;
  }
  .name {
    color: #008cff;
    font-size: 1.1rem;
  }
  .price {
    color: #008cff;
  }
  .phone {
    font-size: 1rem;
    color: rgb(83, 83, 77);
  }
  .email {
    font-size: 0.9rem;
    color: rgb(59, 155, 199);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
}

.hours-card {
  display: grid;
  min-width: 100px;
  justify-items: center;
  background-color: rgb(213, 255, 98);
}

.open,
.close {
  letter-spacing: 0.1rem;
  color: rgb(43, 107, 226);
  background-color: transparent;
}

.ice-cream-card ul {
  list-style: none;
  padding: 0;
  margin-top: auto;
  li {
    background: rgb(230, 255, 119);
    padding: 5px;
    margin: 3px 0;
    border-radius: 5px;
    color: rgb(0, 109, 73);
  }
}
